* {
  margin: 0;
}

.header {
  height: 20vh;
  width: 100vw;
  background-color: rgb(38, 111, 221);
  color: white;
  display: flex;
  flex-direction: column;
}

.container-nomeLoja,
.container-nav {
  height: 10vh;
  width: 100vw;
}

.footer {
  height: 15vh;
  width: 100vw;
  background-color: rgb(198, 199, 201);
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer p {
  color: white;
}